@use '../helpers' as *;

.soc1als {
  &__label {
    color: var(--color-light);
  }

  &__list {
    display: flex;
    column-gap: rem(14);
    align-items: center;

    @include mobile {
      column-gap: rem(10);
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    --size: #{rem(64)};

    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    background: var(--gradient);
    border: var(--border);
    border-radius: 50%;

    @include square(var(--size));

    @include mobile {
      --size: #{rem(56)};
    }
  }
}