@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;

  --color-accent: #6e8efb;
  --color-dark-alt: #0F0F0F;
  
  --color-light-gray-50: #808080;
  --color-light-gray-55: #8C8C8C;
  --color-light-gray-60: #999999;
  --color-light-gray-65: #A6A6A6;

  --color-gray-10: #1A1A1A;
  --color-gray-12: #1F1F1F;
  --color-gray-30: #4C4C4C;
  --color-gray-40: #666666;

  --gradient: linear-gradient(180deg, var(--color-gray-10) 0%, rgba(26, 26, 26, 0) 100%);

  --border: rem(1) solid var(--color-gray-12);

  --font-family-base: 'Sora', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}